<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>register</div>
<form action="/register" method="post">
    <label>email</label>
    <input type="email" name="email">
    <label>nickname</label>
        <input type="text" name="nickname">

    <label>password</label>
        <input type="password" name="password">

    <input type="submit" >

</form>
</body>
</html>
